<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>hjbServlet</servlet-name>              //servlet名字
        <servlet-class>hjbServlet.hjbServlet</servlet-class>    //所在包
    </servlet>
    <servlet-mapping>
        <servlet-name>hjbServlet</servlet-name>
        <url-pattern>/hjbServlet</url-pattern>
    </servlet-mapping>
</web-app>
